# Ignorar archivos y carpetas en la capa de presentación
Vista/bin/
Vista/obj/

# Ignorar archivos y carpetas en la capa de lógica de negocio
LogicaNegocio/bin/
LogicaNegocio/obj/

# Ignorar archivos y carpetas en la capa de acceso a datos
AccesoDatos/bin/
AccesoDatos/obj/
# Ignorar archivos y carpetas en la capa comun
Comun/bin/
Comun/obj/